/* COLOR TEMPLATE */

$red: #eb1616;
$white: #ffffff;
$black: #000000;
$darkgray: #191c24;
$text-color: #6d7293;

/* FONT TEMPLATE */
$font-family: 'Anton', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-segoe: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

/* MEDIA QUERY TEMPLATE */
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-desktop: 1200px;

/* ANIMATION TEMPLATE */
$animation-duration: 0.3s;
$animation-timing: ease-in-out;

/* TRANSITION TEMPLATE */
$transition-duration: 0.3s;
$transition-timing: ease-in-out;

/* BORDER RADIUS TEMPLATE */
$border-radius: 0.5rem;

/* SHADOW TEMPLATE */
$shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

/* SPACING TEMPLATE */
$spacing: 1rem;

/* FUNCTION GAP */
@function gap($size) {
     @return calc($size * $spacing);
}

/* FUNCTION REM */
@function rem($size) {
     @return calc($size / 16px * 1rem);
}

/* FUNCTION EM */
@function em($size) {
     @return calc($size / 16px * 1em);
}

/* FUNCTION PX */
@function px($size) {
     @return calc($size / 16px * 1px);
}

/* FUNCTION PERCENT */
@function percent($size) {
     @return calc($size / 16px * 100%);
}

/* Utilisation de la fonction size */


// Fonction pour définir dynamiquement la largeur d'un élément
@mixin ElementWidth($width) {
     @if $width is defined {
          width: $width; 
     }
     // Sinon aucune taille n'est définie on ne fait rien
     @else {
          width: auto;
     }
}

// Fonction pour définir dynamiquement la hauteur d'un élément
@mixin ElementHeight($height) {
     @if $height is defined {
          height: $height;
     }
     // Sinon aucune taille n'est définie on ne fait rien
     @else {
          height: auto;
     }
}

// Utilisation de la fonction size
// .element {
//      @include ElementWidth(100%);
// }

